### use # to comment out the configure item

sentence_classification=True

### I/O ###
#train_dir=/content/drive/MyDrive/DTIC/Guarani/ds/sa3_train.txt
#dev_dir=/content/drive/MyDrive/DTIC/Guarani/ds/sa3_dev.txt
#test_dir=/content/drive/MyDrive/DTIC/Guarani/ds/sa3_test.txt
#model_dir=/content/drive/MyDrive/DTIC/Guarani/model_dir/sa3_1
train_dir=/content/drive/MyDrive/DTIC/Guarani/ds/sa3_trainBal.txt
dev_dir=/content/drive/MyDrive/DTIC/Guarani/ds/sa3_devBal.txt
test_dir=/content/drive/MyDrive/DTIC/Guarani/ds/sa3_testBal.txt
model_dir=/content/drive/MyDrive/DTIC/Guarani/model_dir/sa3_1Bal
#word_emb_dir=/content/drive/MyDrive/DTIC/Guarani/embeddings/multi.wiki.bpe.vs1000000.d300.w2v.txt
word_emb_dir=/content/drive/MyDrive/DTIC/Guarani/embeddings/gn.wiki.bpe.vs25000.d300.w2v.txt
#word_emb_dir=/content/drive/MyDrive/DTIC/Guarani/embeddings/es.wiki.bpe.vs200000.d300.w2v.txt
#word_emb_dir=/content/drive/MyDrive/DTIC/Guarani/embeddings/wiki.gn.vec
#word_emb_dir=/content/drive/MyDrive/DTIC/Guarani/embeddings/wiki.es.vec


#raw_dir=
#decode_dir=
#dset_dir=
#load_model_dir=
#char_emb_dir=/content/drive/MyDrive/DTIC/Guarani/embeddings/gn.wiki.bpe.vs25000.d300.w2v.txt

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=False
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN
#feature=[POS] emb_size=20
#feature=[Cap] emb_size=20
#nbest=1

###TrainingSetting###
status=train
optimizer=SGD
iteration=20
batch_size=10
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=400
dropout=0.0
lstm_layer=1
bilstm=True
learning_rate=0.16
lr_decay=0.05
momentum=0.0
l2=1e-8
gpu=True
#clip=
